<?xml version="1.0"?>
<!--
/**
 * Copyright © DILLER AS. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dillerloyalty" translate="label" sortOrder="300">
            <label>Diller Loyalty</label>
        </tab>
        <section id="dillerloyalty" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Loyalty Program Settings</label>
            <tab>dillerloyalty</tab>
            <resource>Diller_LoyaltyProgram::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Loyalty Program Settings</label>
                <comment><![CDATA[Contact your partner to get your API-Key and Store UID or contact <a target="_blank" href="https://diller.io/contact/"><strong>Diller</strong> directly</a>.]]></comment>
                <field id="loyalty_program_enabled" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Enable Loyalty Program</label>
                </field>
                <field id="store_uid" translate="label comment" type="text" showInDefault="1" showInWebsite="0" showInStore="1" >
                    <label>Store UID</label>
                    <validate>required-entry</validate>
                </field>
                <field id="api_key" translate="label comment" type="password" showInDefault="1" showInWebsite="0" showInStore="1" >
                    <label>API key</label>
                    <validate>required-entry</validate>
                </field>
                <field id="test_connection" translate="label" type="button" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Test connection</label>
                    <frontend_model>Diller\LoyaltyProgram\Block\Adminhtml\TestConnection</frontend_model>
                    <depends>
                        <field id="loyalty_program_enabled">1</field>
                    </depends>
                </field>
                <field id="department" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <source_model>Diller\LoyaltyProgram\Model\Config\Source\StoreDepartments</source_model>
                    <label>Department</label>
                </field>
                <field id="transaction_status" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <label>Send order to Diller when order is in the following status</label>
                </field>
            </group>
        </section>
    </system>
</config>
