<?xml version="1.0"?>
<!--
/**
 * Copyright © DILLER AS. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dillerloyalty" translate="label" sortOrder="300">
            <label>Diller Loyalty</label>
        </tab>
        <section id="dillerloyalty" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Loyalty Program Settings</label>
            <tab>dillerloyalty</tab>
            <resource>Diller_LoyaltyProgram::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Loyalty Program Settings</label>
                <comment><![CDATA[Contact your partner to get your API-Key and Store UID or contact <a target="_blank" href="https://diller.io/contact/"><strong>Diller</strong> directly</a>.]]></comment>
                <field id="loyalty_program_enabled" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Enable Loyalty Program</label>
                </field>
                <field id="loyalty_name" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Loyalty program name</label>
                    <comment>
                        <![CDATA[This will be used in all communications related to your loyalty program (SMS and EMAIL)]]>
                    </comment>
                    <validate>required-entry</validate>
                </field>
                <field id="store_uid" translate="label comment" type="text" showInDefault="1" showInWebsite="0" showInStore="1" >
                    <label>Store UID</label>
                    <validate>required-entry</validate>
                </field>
                <field id="api_key" translate="label comment" type="password" showInDefault="1" showInWebsite="0" showInStore="1" >
                    <label>API key</label>
                    <validate>required-entry</validate>
                </field>
                <field id="test_connection" translate="label" type="button" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Test connection</label>
                    <depends>
                        <field id="loyalty_program_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="customization" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Loyalty Program Customization</label>
                <field id="logo" translate="label comment" type="image" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image\Pdf</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">dillerloyalty/store/logo</upload_dir>
                    <base_url type="media" scope_info="1">dillerloyalty/store/logo</base_url>
                    <comment>
                        <![CDATA[Your Loyalty Program logo (jpeg, tiff, png). If the uploaded image is distorted, try to use larger file-size image.]]>
                    </comment>
                </field>
                <field id="main_color" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Main color</label>
                </field>
            </group>
        </section>
    </system>
</config>
