<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dillerloyalty>
            <settings>
                <loyalty_program_enabled>No</loyalty_program_enabled>
                <loyalty_fields_mandatory>Yes</loyalty_fields_mandatory>
                <reserve_stamp_cards>No</reserve_stamp_cards>
            </settings>
        </dillerloyalty>
    </default>
</config>
