<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dillerloyalty>
            <settings>
                <loyalty_program_enabled>No</loyalty_program_enabled>
                <test_connection>Test</test_connection>
            </settings>
        </dillerloyalty>
    </default>
</config>
