<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Diller\LoyaltyProgram\Api\CouponManagementInterface" type="Diller\LoyaltyProgram\Model\CouponManagement"/>

    <type name="Magento\SalesRule\Model\Rule\Action\Discount\CalculatorFactory">
        <arguments>
            <argument name="discountRules" xsi:type="array">
                <item name="loyalty_stamp_card" xsi:type="string">\Diller\LoyaltyProgram\Model\Rule\Action\Discount\StampCardDiscount</item>
            </argument>
        </arguments>
    </type>
</config>
