<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="register_member" instance="Diller\LoyaltyProgram\Observer\SaveMemberOnCustomerChangeObserver" />
    </event>
    <event name="customer_save_after_data_object">
        <observer name="update_customer" instance="Diller\LoyaltyProgram\Observer\SaveMemberOnCustomerChangeObserver" />
    </event>

    <event name="sales_order_save_after">
        <observer name="register_transaction" instance="Diller\LoyaltyProgram\Observer\RegisterTransactionOnOrderStatusChange"/>
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="set_customer_consent" instance="Diller\LoyaltyProgram\Observer\GetCustomerConsentAndRegisterMemberOnCheckoutSubmitBefore"/>
    </event>

    <event name="sales_quote_collect_totals_after">
        <observer name="validate_coupons_and_stamp_cards" instance="Diller\LoyaltyProgram\Observer\ValidateCouponsAndStampCardsOnCartUpdate"/>
    </event>
</config>